
.password-generator-container{
    width: 300px;
}
.password-final{
    margin-bottom: 1rem;
    &__field{
        width: 100%;
    }
}
.range{
    width: 100%;
    margin-bottom: 1rem;
}
.password-generator-length{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 40px;
}
.strength{
    padding: 1rem 0;
}




